VITE_MUSIC_API_URL=https://home-music-api.jimmyai3132.workers.dev/
VITE_MUSIC_SERVER=tencent
VITE_MUSIC_TYPE=playlist
VITE_MUSIC_PLAYLIST_ID=9206816111
VITE_MUSIC_PLAYLIST_NAME=QQ Music Playlist
VITE_MUSIC_LIMIT=all
VITE_MUSIC_TIMEOUT_MS=8000
